<div class="content">
    <div class="form">
        <div class="search" [class.sticky]="isSticky">
            <div class="input-container">
                <input class="input" [disabled]="fecthing" id="input-text" type="text" [(ngModel)]="text">
            </div>
            <neo-button [loading]="fecthing" label="{{fecthing ? 'Finding' : 'Find'}}" (clickEvent)="find($event)"></neo-button>
        </div>
        <!-- <div *ngIf="fecthing" class="loader"></div> -->
        <div *ngFor="let item of responses" class="item">
            <div class="question">
                <h4>{{item.question}}</h4>
            </div>
            <div class="response">
                <span [innerHTML]="item.response"></span>
            </div>
        </div>
    </div>
    
</div>
