.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.question > h4 {
    font-size: bold;
    word-wrap: break-word;
    margin-bottom: 8px;
    margin-top: 15px;
}

h4 {
    margin: 0 !important;
}

.item {
   max-width: 100%;
}