.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.question>h4 {
    font-size: bold;
    word-wrap: break-word;
    margin-bottom: 8px;
    margin-top: 15px;
}

h4 {
    margin: 0 !important;
}

.item {
    max-width: 100%;
}

.content {
    padding: 60px 20px 30px 20px;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 60px;
    background-color: var(--bg);
    width: calc(100vw - 40px);
    margin-left: -20px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05 );
    border-radius: 0 0 20px 20px;
}
