.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

/* Adiciona regra de media query para tornar o card responsivo */
@media screen and (max-width: 440px) {
    .cards {
        max-width: 100%;
        min-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        gap: 20px;
    }
}