<!-- <div class="transp" [class.transp-active]="showMenu"></div> -->
<div #sideMenu [class.active]="(menuService.getMenuStatus() | async)" neoClickOutside (clickOutside)="clickOutside($event)" class="side-menu">
  <div style="display: flex; justify-content: space-between; align-items: center; padding: 0 5px">
    <div class="avatar pointer zoom">
      <img src="https://i.pravatar.cc/50" alt="" />
    </div>
    <img
      (click)="toggleMenu()"
      class="icon pointer zoom"
      src="assets/images/close.png"
      width="15"
      height="15"
      alt=""
    />
  </div>

  <div (click)="toggleMenu()" class="item-menu" [routerLink]="['/gallery']" [class.active]="isRouteActive('gallery')">
    <img class="icon" src="assets/images/image-gallery.png" alt="">
    <p>Gallery</p>
  </div>

  <div (click)="toggleMenu()" class="item-menu" [routerLink]="['/dashboard']" [class.active]="isRouteActive('dashboard')">
    <img class="icon" src="assets/images/dashboard.png" alt="">
    <p>Dashboard</p>
  </div>

  <!-- <div (click)="toggleMenu()" class="item-menu" [routerLink]="['/land-page']" [class.active]="isRouteActive('land-page')">
    <img class="icon" src="assets/images/landing-page.png" alt="">
    <p>Landing Page</p>
  </div> -->

  <div (click)="toggleMenu()" class="item-menu" [routerLink]="['/chat-gpt']" [class.active]="isRouteActive('chat-gpt')">
    <img class="icon" src="assets/images/chat-gpt.png" alt="">
    <p>Chat-GPT</p>
  </div>

  <div (click)="toggleMenu()" class="item-menu" [routerLink]="['/settings']" [class.active]="isRouteActive('settings')">
    <img class="icon" src="assets/images/settings.png" alt="">
    <p>Settings</p>
  </div>
  

</div>
