.side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 100;
    top: 0px;
    left: 0;
    transform: translateX(-100%);
    background-color: var(--bg-strong);
    backdrop-filter: blur(5px);
    width: 300px;
    height: 100vh;
    box-sizing: border-box;
    transition: transform 500ms ease;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

.itens {
    margin-top: 20px;
}

.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.side-menu.active {
    transform: translateX(0);
    /* Use transform para mover o menu lateral para dentro da tela */
    transition: transform 500ms ease;
    /* Ajuste a duração da transição */
}

.item-menu {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    padding: 10px;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    width: 100%;
    height: 40px;
}

.item-menu>img {
    width: 20px;
    height: 20px;
}

.item-menu:not(.active):hover {
    background-image: linear-gradient(to right, var(--bg-strong-2), var(--bg));
}

.item-menu.active {
    background-image: linear-gradient(to right, var(--primary), var(--bg));
    font-weight: bold;
    transition: background-image var(--duration-animation);
}

.close {
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: -15px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .side-menu {
        backdrop-filter: none;
        background-color: var(--bg-strong-solid);
    }

    .item-menu p {
        width: 80px;
    }
}